.klasa1 {
  position: absolute;
  left: 30%;
  top: 9%;
  width: 40%;
  font-size: 30px;
}
body {
  background-color: darkorchid;
}
.klasa2 {
  position: fixed;
  background-color: chocolate;
  width: 100%;
  bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.klasa3 {
  margin-left: 28%;
}
.klasa4 {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 20%;
  font-size: 30px;
}
.klasa5 {
  position: absolute;
  top: 20%;
  left: 51%;
  width: 300px;
  height: 280px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
